body {
  margin: 0;
  font-family: "Inter";
}
.contain {
  display: flex;
  height: 718px;
  margin: 96px;
  gap: 32px;
  border: 1px solid rgba(227, 226, 226, 1);
}
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0px 0px;
  padding: 32px;
  width: 750px;
  height: 420px;
}

h2 {
  text-align: center;
}

.tabs {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 2px solid maroon;
}

.form-group {
  margin-bottom: 15px;
}
.form-group > div {
  display: flex;
  justify-content: space-between;
}
.email,
.phone {
  width: 49%;
}
label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: maroon;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: darkred;
}
