<div class="register-popup">
  <div class="header d-flex justify-content-between">
    <h2 class="logo">Speedo Transfer</h2>
    <button class="close-btn" (click)="close()">✖</button>
  </div>
  <div class="form">
    <h2>Create Your Account</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
      tempor incididunt ut labore.
    </p>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="fullName">Full name</label>
        <input
          type="text"
          id="fullName"
          formControlName="fName"
          placeholder="Full name"
          required
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email address"
          required
        />
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <select id="country" formControlName="countryId" required>
          <option value="">Select your country</option>
          <option value="UK">UK</option>
          <option value="US">US</option>
          <!-- Add more countries as needed -->
        </select>
      </div>

      <div class="form-group">
        <label>Date of birth</label>
        <div class="date-of-birth">
          <div class="input-group">
            <label for="day">Day</label>
            <input
              type="text"
              id="day"
              formControlName="day"
              placeholder="day"
              required
            />
          </div>
          <div class="input-group">
            <label for="month">Month</label>
            <select id="month" formControlName="month" required>
              <option value="">Month</option>
              <option value="Jan">January</option>
              <option value="Feb">February</option>
              <!-- Add more months as needed -->
            </select>
          </div>
          <div class="input-group">
            <label for="year">Year</label>
            <select id="year" formControlName="year" required>
              <option value="">YYYY</option>
              <option *ngFor="let year of years" [value]="year">
                {{ year }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="**********"
          required
        />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input
          type="password"
          id="confirmPassword"
          placeholder="**********"
          required
        />
        <small>
          The password should be at least eight characters long. To make it
          stronger, use upper and lower case letters, numbers, and symbols like
          ! " ? $ % ^ &
        </small>
      </div>

      <button type="submit" class="submit-btn">Create Account</button>
      <p class="login">
        Already have an account? <a (click)="openLogin()">Login</a>
      </p>
    </form>
  </div>

  <app-auth-footer></app-auth-footer>
</div>
