<footer class="text-center text-white">
  <h2 class="footer-header">Speedo Transfer</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
  <h5 class="Contact-info">Contact Info</h5>
  <div>
    <span class="email">Email: </span>
    <a class="email-link text-white" href="mailto:">
      BM00000&#64;speedo Transfer.com</a
    >
  </div>
  <div class="phone">
    <span class="phone">Phone:</span>
    <span class="phone-num">00000</span>
  </div>
  <div class="copy-right text-center">
    <p>All Rights Reserved for Speedo Transfer ©2024</p>
  </div>
</footer>
