<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Speedo Transfer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li
          class="nav-item"
          aria-current="page"
          [ngClass]="{ active: isActive('/home') }"
        >
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li
          class="nav-item"
          aria-current="page"
          [ngClass]="{ active: isActive('/money-transfer') }"
        >
          <a class="nav-link" routerLink="/money-transfer">Money Transfer</a>
        </li>
        <li
          class="nav-item"
          aria-current="page"
          [ngClass]="{ active: isActive('/profile') }"
        >
          <a class="nav-link" routerLink="/profile">My Account</a>
        </li>
        <li
          class="nav-item"
          aria-current="page"
          [ngClass]="{ active: isActive('/help') }"
        >
          <a class="nav-link" routerLink="/help">Help</a>
        </li>
      </ul>
      <ng-container *ngIf="!this.isLogged">
        <button
          (click)="openLogin()"
          class="btn btn-outline-secondary btn-login"
        >
          Login
        </button>
        <button (click)="openRegister()" class="btn btn-register">
          Register Now
        </button>
      </ng-container>

      <ng-container *ngIf="this.isLogged">
        <div class="dropdown ms-5">
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="me-2">M</span> mayar
          </button>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#">My Account</a></li>
            <li><a class="dropdown-item" href="#">Payment History</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Change Password</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
