<app-navbar></app-navbar>
<section id="home">
  <div class="contain">
    <div class="home">
      <p class="home-headear">Simple. Quick. Secure.</p>
      <h1>Send Money Anywhere, Instantly</h1>
      <p class="home-paragragh">
        Fast, secure, and affordable international money transfers. Get started
        in minutes
      </p>
      <button>Transfer Now</button>
    </div>
    <app-after-login></app-after-login>
  </div>
</section>
<app-get-started></app-get-started>
<app-download-mobile-app></app-download-mobile-app>
<app-footer></app-footer>
