<app-navbar></app-navbar>
<div class="contain">
  <app-side-nav></app-side-nav>
  <div class="settings-container">
    <h2>Settings</h2>
    <ul class="tabs">
      <li class="tab">Profile</li>
      <li class="tab active">Change password</li>
    </ul>
    <div class="form-group">
      <div class="password">
        <label for="currentPassword">Current password</label>
        <input
          id="currentPassword"
          type="password"
          [(ngModel)]="currentPassword"
          placeholder="Current password"
        />
      </div>
      <div class="nPassword">
        <label for="newPassword">New password</label>
        <input
          id="newPassword"
          type="password"
          [(ngModel)]="newPassword"
          placeholder="New password"
        />
      </div>
    </div>
    <button (click)="updatePassword()" class="btn btn-primary">
      Update Password
    </button>
  </div>
</div>
<app-footer></app-footer>
