* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.login-section {
  height: 100vh;
  background-color: #fff;
}

.header {
  padding: 40px;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.login-container {
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  max-width: 500px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}

.account-text {
  margin-bottom: 20px;
  color: rgba(86, 85, 82, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.account-text a {
  color: rgba(86, 85, 82, 1);
}

.login-form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 565px;
  padding: 64px 32px;
  margin-bottom: 64px;
}

.login-form h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.login-form p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(86, 85, 82, 1);
}

.login-form label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  margin-top: -10px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: rgba(135, 30, 53, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 16px;
}

a {
  color: rgba(135, 30, 53, 1);
}
