<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section>
      <div class="contain">
        <div class="img">
          <img src="assets/StepperHorizontal.svg" alt="" />
        </div>
        <div class="word">
          <span>Amount</span>
          <span>Confirmation</span>
          <span>Payment</span>
        </div>
        <div class="content">
          <h2>How much are you sending?</h2>
          <!-- Correct Angular form binding with [formGroup] -->
          <form
            [formGroup]="transferForm"
            (ngSubmit)="navigateToConfirmComponent()"
          >
            <label for="amount">Amount</label>
            <input type="text" formControlName="amount" id="amount" />
            <div
              *ngIf="
                transferForm.controls['amount'].invalid &&
                transferForm.controls['amount'].touched
              "
            >
              <small class="text-danger">Amount is required.</small>
            </div>

            <label for="recipientName">Recipient Name</label>
            <input
              type="text"
              formControlName="recipientName"
              id="recipientName"
            />
            <div
              *ngIf="
                transferForm.controls['recipientName'].invalid &&
                transferForm.controls['recipientName'].touched
              "
            >
              <small class="text-danger">Recipient Name is required.</small>
            </div>

            <label for="toAccountNumber">Recipient Account</label>
            <input
              type="text"
              formControlName="toAccountNumber"
              id="toAccountNumber"
            />
            <div
              *ngIf="
                transferForm.controls['toAccountNumber'].invalid &&
                transferForm.controls['toAccountNumber'].touched
              "
            >
              <small class="text-danger">Recipient Account is required.</small>
            </div>

            <button type="submit">Continue</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
