body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}
.img {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.word {
  display: flex;
  justify-content: center;
}
.word span {
  padding: 25px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input {
  width: 554px;
  height: 56px;
  border: 1px solid #b0afae;
  border-radius: 8px;
  margin-bottom: 10px;
}
button {
  width: 554px;
  height: 56px;

  background: #871e35;
  border: 1px solid #871e35;
  border-radius: 6.5px;
  margin-top: 20px;
}
h2 {
  width: 589.64px;
  height: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
}
section {
  display: flex;
  justify-content: center;
}
.info {
  width: 201px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #3c3a37;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}