<section class="get-started">
  <div class="container">
    <div class="head">
      <p class="text-center">Getting Started</p>
      <h3 class="text-center">
        Lorem Ipsum is simply dummy text of the printing.
      </h3>
    </div>

    <div class="steps d-flex justify-content-center flex-wrap">
      <div>
        <img src="assets\Group17.svg" alt="" srcset="" />
        <h5><span>1.</span> Create Account</h5>
        <p>
          Adipiscing elit neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
      <div>
        <img src="assets\Group 20.svg" alt="" srcset="" />
        <h5><span>2.</span> Confirmation</h5>
        <p>
          Adipiscing elit neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
      <div>
        <img src="assets\Group 19.svg" alt="" srcset="" />
        <h5><span>3.</span> Payment</h5>
        <p>
          Adipiscing elit neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
    </div>
  </div>
</section>
