<section>
  <div
    class="container d-flex justify-content-between align-items-center flex-wrap"
  >
    <div class="download-image">
      <img src="assets\image 2.jpg" alt="" srcset="" />
    </div>

    <div class="download-info">
      <p class="mobile">Mobile Application</p>
      <h2>Download our apps of your mobile phone for service</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy
      </p>
      <div>
        <img src="assets\Background.svg" alt="" srcset="" />
        <span> Lorem Ipsum is simply dummy</span>
      </div>
      <div>
        <img src="assets\Background.svg" alt="" srcset="" />
        <span>Lorem Ipsum is simply dummy text of the printing</span>
      </div>
      <div>
        <img src="assets\Background.svg" alt="" srcset="" />
        <span>Lorem Ipsum is simply</span> <BR />
      </div>

      <div class="buttons">
        <img src="assets\Link.svg" alt="" srcset="" />
        <img src="assets\AppStoreTransparent.svg" srcset="" />
      </div>
    </div>
  </div>
</section>
